<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.crmserver.mapper.TClueRemarkMapper">
  <resultMap id="BaseResultMap" type="com.zs.crmserver.model.TClueRemark">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="clue_id" jdbcType="INTEGER" property="clueId" />
    <result column="note_way" jdbcType="INTEGER" property="noteWay" />
    <result column="note_content" jdbcType="VARCHAR" property="noteContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="edit_by" jdbcType="INTEGER" property="editBy" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
  </resultMap>

  <sql id="Base_Column_List">
    id, clue_id, note_way, note_content, create_time, create_by, edit_time, edit_by, 
    deleted
  </sql>

  <!-- 查询线索跟踪记录 -->
  <select id="selectClueRecordByPage" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
      tcr.*
    from t_clue_remark tcr
    <where>
      tcr.clue_id = #{clueTrackRecordQuery.clueId, jdbcType=INTEGER} and (tcr.deleted is null or tcr.deleted = 0)
      <if test="clueTrackRecordQuery.keyword != null and clueTrackRecordQuery.keyword != ''">
        AND (
          tcr.note_content LIKE CONCAT('%', #{clueTrackRecordQuery.keyword}, '%')
        )
      </if>
      ${ clueTrackRecordQuery.filterSQL }
    </where>
    ORDER BY ${@com.zs.crmserver.util.SqlUtils@safeSort(
        basePageQuery.sortField,
        basePageQuery.sortOrder,
        "create_time",
        "create_time", "edit_time"
    )}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_clue_remark
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_clue_remark
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!-- 逻辑批量删除 -->
  <update id="batchUpdateDeletedStatus">
    UPDATE t_clue_remark
    SET deleted = #{deleted}
    WHERE id IN
    <foreach collection="ids" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </update>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zs.crmserver.model.TClueRemark" useGeneratedKeys="true">
    insert into t_clue_remark (clue_id, note_way, note_content, 
      create_time, create_by, edit_time, 
      edit_by, deleted)
    values (#{clueId,jdbcType=INTEGER}, #{noteWay,jdbcType=INTEGER}, #{noteContent,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=INTEGER}, #{editTime,jdbcType=TIMESTAMP}, 
      #{editBy,jdbcType=INTEGER}, #{deleted,jdbcType=INTEGER})
  </insert>

  <!-- 新增跟踪记录 -->
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zs.crmserver.model.TClueRemark" useGeneratedKeys="true">
    insert into t_clue_remark
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clueId != null">
        clue_id,
      </if>
      <if test="noteWay != null">
        note_way,
      </if>
      <if test="noteContent != null">
        note_content,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="editTime != null">
        edit_time,
      </if>
      <if test="editBy != null">
        edit_by,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clueId != null">
        #{clueId,jdbcType=INTEGER},
      </if>
      <if test="noteWay != null">
        #{noteWay,jdbcType=INTEGER},
      </if>
      <if test="noteContent != null">
        #{noteContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editBy != null">
        #{editBy,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <!-- 编辑跟踪记录 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.zs.crmserver.model.TClueRemark">
    update t_clue_remark
    <set>
      <if test="clueId != null">
        clue_id = #{clueId,jdbcType=INTEGER},
      </if>
      <if test="noteWay != null">
        note_way = #{noteWay,jdbcType=INTEGER},
      </if>
      <if test="noteContent != null">
        note_content = #{noteContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="editTime != null">
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editBy != null">
        edit_by = #{editBy,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zs.crmserver.model.TClueRemark">
    update t_clue_remark
    set clue_id = #{clueId,jdbcType=INTEGER},
      note_way = #{noteWay,jdbcType=INTEGER},
      note_content = #{noteContent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      edit_by = #{editBy,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 删除活动时删除相关备注 -->
  <delete id="deleteByClueId">
    DELETE FROM t_clue_remark
    WHERE clue_id = #{clueId}
  </delete>
  <!-- 批量删除活动时批量删除相关备注 -->
  <delete id="batchDeleteByClueIds">
    DELETE FROM t_clue_remark
    WHERE clue_id IN
    <foreach collection="ids" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>
</mapper>